@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+SA:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: Poppins;
}

.container {
  padding: 0px 140px;
}

body {
  font-family: Poppins;
}

.container {
  padding: 0px 140px;
}

body {
  font-family: Poppins;
}

#navbar {
  display: flex;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
#navbar .container {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}
#navbar .container span {
  font-family: "Poppins", serif;
  font-size: 24px;
  font-weight: 700;
  color: #2e21df;
}
#navbar .container nav {
  display: flex;
}
#navbar .container nav ul {
  display: flex;
  gap: 30px;
}
#navbar .container nav ul li {
  display: flex;
}
#navbar .container nav ul li a {
  font-size: 14px;
  font-weight: 600;
  color: #2a343b;
}
#navbar .container nav ul li a:hover {
  color: black;
}
#navbar .container .icons {
  display: flex;
  gap: 40px;
}

#FLAGS {
  padding: 60px 0px;
}
#FLAGS .flagsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
  justify-content: space-between;
}
#FLAGS .flagsSection .previusImg i {
  color: rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  font-size: 12px;
}
#FLAGS .flagsSection .previusImg i:hover {
  transition: all 0.5s;
  font-weight: bolder;
  cursor: pointer;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#FLAGS .flagsSection .nextImg i {
  color: rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  font-size: 12px;
}
#FLAGS .flagsSection .nextImg i:hover {
  transition: all 0.5s;
  font-weight: bolder;
  cursor: pointer;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#FLAGS .flagsSection .flagsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  transition: all 1s;
  cursor: pointer;
}
#FLAGS .flagsSection .flagsContainer .countryFlag {
  width: 50px;
  transition: all 1s;
}
#FLAGS .flagsSection .flagsContainer .countryFlag img {
  transition: all 1s;
}
#FLAGS .flagsSection .flagsContainer .countryLang {
  transition: all 1s;
}
#FLAGS .flagsSection .flagsContainer .countryLang span {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}
#FLAGS .flagsSection .flagsContainer:hover img {
  transform: translateY(-14px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 1s;
}
#FLAGS .flagsSection .flagsContainer:hover .countryLang span {
  color: black;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#COURSES {
  padding: 100px 0px;
}
#COURSES .container .coursesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
#COURSES .container .coursesSection .coursesSectionTop h1 {
  font-size: 30px;
  font-weight: 700;
}
#COURSES .container .coursesSection .coursesSectionBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
#COURSES .container .coursesSection .coursesSectionBottom .coursesCards .coursesCardImage img {
  width: 360px;
}
#COURSES .container .coursesSection .coursesSectionBottom .coursesCards .coursesCardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding: 30px;
}
#COURSES .container .coursesSection .coursesSectionBottom .coursesCards .coursesCardInfo .coursesCardBody h3 {
  font-size: 20px;
  font-weight: 700;
}
#COURSES .container .coursesSection .coursesSectionBottom .coursesCards .coursesCardInfo .coursesCardBody .coursesTeacherInfo a span {
  font-size: 14px;
  font-weight: 500;
  color: #b8b8b8;
}
#COURSES .container .coursesSection .coursesSectionBottom .coursesCards .coursesCardInfo .coursesCardBody .coursesTeacherInfo a span:hover {
  color: blue;
}
#COURSES .container .coursesSection .coursesSectionBottom .coursesCards .coursesCardInfo .coursesCardBody .coursesTeacherInfo span {
  font-size: 14px;
  font-weight: 500;
  color: #b8b8b8;
}
#COURSES .container .coursesSection .coursesSectionBottom .coursesCards .coursesCardInfo .coursesCardBody p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}
#COURSES .container .coursesSection .coursesSectionBottom .coursesCards .coursesCardInfo .coursesCardFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */